name: Auto SGF Spider

permissions:
  contents: write 
  
on:
  schedule:
    - cron: '0 19 * * *'   # 北京时间每天 03:00
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install requests
        run: pip install requests

      - name: Run spider
        run: python spider.py

      - name: Commit results
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Auto update sgf" || echo "No changes"
          git push
